<!--Dummy Profile Page-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing</title>

    <%# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="buttonstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>%>

    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>

  </head>
  <body>
    <script type="text/javascript">


    </script>

    <button id="testbtn" type="button" name="button">Users</button>
      <div class="testing">
        <h1>Testing</h1>
        <li id="alsoTesting"></li>

      </div>
      <script type="text/javascript">
        window.onload = function(){
          console.log()
        }
      </script>


    <script src="scripts.js" charset="utf-8"></script>
  </body>
</html>
